.container {
  margin-left: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  max-width: 580px;
  perspective: 700px;
}

.card {
  width: 100%;
  height: 400px;
  font-size: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 20px 0px;
  position: relative;
  transition: transform 400ms;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  background-color: white;
}

.back {
  transform: rotateX(180deg);
  background-color: white;
}

.pageButtons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  font-size: 15px;
}

.pageButton {
  cursor: pointer;
  transition: color 200ms;
}

.pageButton:hover {
  color: rgb(254, 204, 57);
}

.pages {
  margin: 0 70px;
}

.disabled {
  color: rgb(214, 218, 229);
}
