.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  padding: 24px 0 32px 0;
}

.marginContainer {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  height: 110px;
  align-items: center;
  margin-top: 32px;
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
}

.title {
  font-size: 20px;
  color: rgb(48, 53, 69);
}

.button {
  padding: 12px 24px;
  height: fit-content;
  background-color: rgb(60, 207, 207);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 200ms;
}

.button:hover {
  background-color: rgb(46, 158, 158);
}


.import {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.importButton {
  color: rgb(60, 207, 207);
  background-color: inherit;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: color 200ms;
}

.importButton:hover {
  color: rgb(51, 172, 172)
}

.viewable {
  margin-left: 10px;
}

.label {
  font-weight: bold;
}

.cardContainer {
  background-color: rgb(247, 247, 247);
  height: 5000px;
  width: 100%;
}
