.button {
  background-color: rgb(255, 255, 255);
  border: none;
  border-top: 1px solid rgb(237, 239, 244);
  border-bottom: 1px solid rgb(237, 239, 244);
  color: rgb(102, 112, 148);
  padding: 15px 90px 15px 30px;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(246, 247, 251);
  color: rgb(48, 53, 69);
}
