.button {
  color: rgb(66, 87, 178);
  background-color: rgb(119, 221, 221);
  border: none;
  padding: 9px 14px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: rgb(108, 204, 204);
}

.downIcon {
  margin-left: 10px;
}

.menu {
  background-color: rgb(255, 255, 255);
  position: absolute;
  margin-top: 5px;
  font-size: 14px;
  padding: 15px 0;
  border-radius: 10px;
  border: 1px solid rgb(236, 236, 236);
  font-weight: bold;
  z-index: 10;
}

.decks {
  text-decoration: none;
  padding: 10px 90px 10px 30px;
  color: rgb(102, 112, 148);
}

.decks:hover {
  background-color: rgb(246, 247, 251);
  color: rgb(48, 53, 69);
}

.deckIcon {
  color: rgb(148, 156, 179);
  margin-right: 15px;
}
