.background {
  width: 100%;
  display: flex;
  justify-content: center;
}

.offset {
  width: 100%;
  max-width: 1200px;
  height: 100%;
}

.margin {
  height: 100%;
  max-width: 814px;
  margin-left: 40px;
  padding: 40px 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 0 0 40px 0;
  font-size: 30px;
  color: rgb(48, 53, 69);
}

.container {
  display: flex;
  justify-content: space-between;
}

.marginContainer {
  margin-top: 20px;
}

.buttonsHeader {
  color: rgb(147, 155, 180);
  font-size: 12px;
  margin-bottom: 10px;
}

.buttonContainer {
  font-size: 16px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}

.buttonIcon {
  color: rgb(68, 90, 176);
  margin-right: 11px;
  font-size: 25px;
  transition: background-color 200ms;
}

.button:hover:enabled {
  background-color: rgb(254, 204, 57);
}

.button {
  border: none;
  background: none;
  font-size: 15px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
  width: 100%;
}

.button:disabled {
  cursor: not-allowed;
}

.button:disabled .buttonIcon {
  color: rgb(182, 182, 182);
}
